body{
    background-color: skyblue;
    position: relative;
    display: flexbox;
}
#div1{
    height: 100px;
    width: 100%;
    background-color: chocolate;
    border-style: solid;
    border-radius: 10px;
    border-color: gold;
    border-width: 3px;
    display: flexbox;
    display: inline-block;
    position: relative;
}
#div2{
    text-align: center;
    position: absolute(center);

}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: purple;
    text-shadow: 2px 5px 5px skyblue;
}
#div3{
    width: 100%;
    color: blueviolet;
    display: flexbox;
    display: inline-block;
}
#div4{
    float: left;
}
#div5{
    display: flexbox;
    float: right;
}
.a1{
    height: 95%;
    width: 7.5%;
    color: red;
    background-color: whitesmoke;
    border-style: inset;
    border-radius: 15%;
    border-color: indigo;
    border-width: 6px;
}
#span1{
    position: absolute;
    float: left;
    color: cornflowerblue;
}
#div6{
    height: 300px;
    width: 76%;
    margin-top: 2px;
    margin-right: 2px;
    background-color: lightgreen;
    border-style: double;
    position: relative;
    text-align: center;
    display: inline-block;
}
.div1{
    height: 215px;
    width: 28%;
    background-color: darkblue;
    margin-top: 0px;
}
#div7{
    position: absolute;
    margin-left: 4%;
}
#div8{
    position: absolute;
    margin-left: 36%;
}
#div9{
    position: absolute;
    margin-left: 68%;
}
.a2{
    font-size: large;
    color: yellowgreen;
}
ul{
    padding-bottom: 5px;
    padding-left: 15px;
    text-align: left;
    padding-right: 2px;
    color: lightcyan;
    font-size: small;
}
h2{
    color: red;
}
#div10{
    width: 100%;
    display: flex;
    align-items: center;
}
#contact{
    height: 125px;
    background-color: darkcyan;
    font-size: larger;
    width: 100%;
    margin-top: 20px;
    border-style: groove;
    border-width: 2.5px;
    border-radius: 10px;
    border-color: brown;
}
#newh2{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 25px;
}
#p10{
    padding-left: 20px;
}
.img9{
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
footer{
    margin-top: 20px;
    background-color: yellow;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
p{
    color: red;
}



